apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps
  namespace: flux-system
spec:
  interval: 1h
  path: ./apps
  prune: true
  sourceRef:
    kind: GitRepository
    name: lgtm-repo
  dependsOn:
    - name: infrastructure
  wait: true
  timeout: 10m
